<div class="panel-heading text-right">
	<button class="btn btn-warning" (click)="showAllToDos()">Show All</button>
</div>
<div class="display-box">
	<ul class="list-group display-box-item todo" [sortablejs]="todos" [sortablejsOptions]="sortOptions">
		<li class="list-group-item "  [ngClass]="{'active':(!!t.startDate)}"  *ngFor="let t of todos; let i = index">
			<!-- <span class="badge">8 </span> -->
			<div class="row ">

				<div *ngIf="t.isCompleted else elseBlock">
					<div class="col-sm-9 col-xs-6">
						<s>{{t.title}}</s>
					</div>
					<div class="col-sm-3 col-xs-6 text-right">
						<a [routerLink]="['./todo',t.id]" class="no-decor" class="btn btn-sm btn-default">
							<span>
								<i class="icon-larger glyphicon glyphicon-pencil"></i>
							</span>
						</a>
					</div>
				</div>

				<ng-template #elseBlock>
					<div class="col-sm-10 col-xs-6">
						<span class="drag-handle">☰</span>
						<span >{{t.title}}</span> 
					</div>
					<div class="col-sm-2 col-xs-6 text-right">
						<a [routerLink]="['./todo',t.id]" class="no-decor" class="btn btn-sm btn-default">
							<span>
								<i class="icon-larger glyphicon glyphicon-pencil"></i>
							</span>
						</a>

						<a (click)="markAsCompleted(t)" class="btn btn-success">
							<span>
								<i class="icon-larger glyphicon glyphicon glyphicon-ok "></i>
							</span>
						</a>

					</div>
				</ng-template>
			</div>
		</li>
	</ul>

	<div class="panel panel-primary display-box-item">
		<div class="panel-heading text-center">Add New </div>
		<div class="panel-body">
			<form novalidate #addForm="ngForm">
				<div class="form-group">
					<textarea name="newItem" [(ngModel)]="newToDo.title" #newItem="ngModel" required class="form-control" rows="5"></textarea>
					<div class="text-danger" *ngIf="newItem.touched && newItem.invalid && newItem.errors.required">required!</div>
				</div>
				<div class="form-group">
					<button class="btn btn-success width100" (click)="addNewTodo(addForm)" [disabled]="addForm.invalid">ADD</button>
				</div>
			</form>
		</div>
	</div>

</div>